$navbar-background-color: #242121;
$navbar-hover-color: #3f3939;
$navbar-hover-color2: #75da23;
$button-color: #d68426;
$button-color-hover: #b36e1f;
$navbar-text-color: #fff;
$background-color: #ffffff;
$navbar-font-size: 1.2em;
$transition-hover: 0.3s;
$special-font: "Architects Daughter";
$backup-font: "sans-serif";

$breakpoint-tablet: 768px;
